
.App {
  text-align: center;
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 15px;
  margin-top: 5px;
  color: rgb(1, 22, 15);
}
ul{
  list-style-type: none;
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 30px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.03);
  line-height: 0;
}
.letras-footer{
  color: white;
}
.container {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
  width: 70%;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.foto{
  width: 500px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}

.logos {
  width: 80px;
}
